@font-face {
    font-family: 'Chalet';
    src: url('../fonts/ChaletLondonNineteenSixty.ttf')
}

body {
    background-color: transparent !important;
    overflow: hidden;
    user-select: none;
}

#flashBang {
    position:fixed;
    pointer-events: none;

    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    opacity: 0;
    background:rgba(255, 255, 255, 1.0);
}